.search_wrapper {
  padding: 20px 20px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #010101;
}

.selectedCount {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.countNumber {
  color: #3425FF;
}

.countLabel {
  color: #6A6A6A;
}


.breadcrumb {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  color: #4B4B4B;
}

.bcIcon {
  width: 10px;
  height: 10px;
  margin: 0 4px;
}


/* ⭐ Horizontal Scroll Card Row */
/* .cardRow {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
} */

.cardRow {
  /* display: grid; */
  /* grid-template-columns: repeat(6, 1fr); */
 display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}


.cardRow::-webkit-scrollbar {
  height: 6px;
}

.cardRow::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 10px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  margin-right: 105px;
}